.accountNone > a {
  text-decoration: none;
  color: rgb(0, 132, 255);
  font-weight: 500;
}

.accountNone2 > a {
  text-decoration: none;
  color: rgb(0, 255, 251);
  font-weight: 500;
}

.accountSign {
  color: rgb(25, 89, 228);
}

.accountCreate {
  color: rgb(255, 255, 255);
}

.merchBanner {
  border-radius: 10px;
  padding: 45px;
  background-color: rgba(25, 187, 103, 0.96);
  color: white;
}
